language: go
deploy:
  provider: pages
  cleanup: true
  github_token: $GITHUB_TOKEN 
  keep_history: true
  on:
    branch: master

go_import_path: github.com/adriamuixi/goby
dist: bionic
env: GO111MODULE=on GOFLAGS='-mod vendor'
notifications:
  email: false
# You don't need to test on very old versions of the Go compiler. It's the user's
# responsibility to keep their compiler up to date.
go:
  - 1.12.x

# Only clone the most recent commit.
git:
  depth: 1